<!DOCTYPE html>
<html>
<head>
    <title>Product Hub - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Product Hub</h1>
        <p>Select a category:</p>
        <div class="category-links">
            <a class="button" href="/phones">5G Phones</a>
            <a class="button" href="/laptops">Laptops</a>
        </div>
    </div>
</body>
</html>
